<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Goals | Compete to complete</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <!-- <body class="bg-gray-100"> -->
  <body
    class="font-sans container m-auto leading-loose tracking-widest font-light sm:font-thin overflow-x-hidden bg-gray-100"
  >
    <!-- Navbar -->
    <header>
      <nav
        class="py-3 mb-3 md:mb-0 md:py-6 md:flex justify-between font-thin text-lg items-center"
      >
        <h1 class="w-2/3 md:w-1/6 px-4 md:px-0 text-2xl font-semibold">
          COMPLETE TOGETHER
        </h1>
        <div class="h-px bg-teal-500 w-full"></div>
        <div class="flex items-center">
          <p class="font-bold px-3">Set goals and smash them</p>
        </div>
      </nav>
    </header>
    <!-- Hero -->
    <section id="hero">
      <div class="full-width mb-10" style="height: 50vh">
        <img
          src="/images/hero.jpg"
          alt="A beautiful dog"
          class="h-full w-full object-cover object-center"
        />
      </div>
    </section>

    <!-- Form -->
    <section id="form">
      <div class="flex justify-between md:py-6 px-4 md:px-0">
        <h1 class="font-bold border-b border-teal-500 py-2">Add To Goals</h1>
        <h1 class="font-bold"># Completed Goals</h1>
      </div>
      <div class="h-screen">
        <form action="/post" method="POST">
          <input
            type="text"
            name="goal"
            class="appearance-none block w-1/3 bg-gray-200 text-gray-700 border rounded py-3 px-6 mb-3 leading-tight focus:outline-none focus:bg-white"
            placeholder="Enter goal here"
          />
        </form>

        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Goal</th>
              <th class="px-4 py-2">Change It?</th>
              <th class="px-4 py-2">Done?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Intro to CSS</td>
              <td class="border px-4 py-2">Adam</td>
              <td class="border px-4 py-2">858</td>
            </tr>
            <% data.forEach((post) => { %>
            <tr>
              <td class="border px-4 py-2"><%= post.goal %></td>
              <td class="border px-4 py-2">Edit</td>
              <td class="border px-4 py-2"><%= post.completed %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
